/** 900 */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/Poppins/Poppins-Black.ttf") format("truetype");
}
/** 800 */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/Poppins/Poppins-ExtraBold.ttf") format("truetype");
}
/** 700 */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
}
/** 600 */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
}
/** 500 */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/Poppins/Poppins-Medium.ttf") format("truetype");
}
/** 400 */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}
/** 300 */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/Poppins/Poppins-Light.ttf") format("truetype");
}
/** 200 */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 200;
  src: url("/fonts/Poppins/Poppins-ExtraLight.ttf") format("truetype");
}
/** 100 */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 100;
  src: url("/fonts/Poppins/Poppins-Thin.ttf") format("truetype");
}
/** 900 */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/Roboto/Roboto-Black.ttf") format("truetype");
}
/** 800 */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/Roboto/Roboto-ExtraBold.ttf") format("truetype");
}
/** 700 */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
}
/** 600 */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/Roboto/Roboto-SemiBold.ttf") format("truetype");
}
/** 500 */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/Roboto/Roboto-Medium.ttf") format("truetype");
}
/** 400 */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}
/** 300 */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/Roboto/Roboto-Light.ttf") format("truetype");
}
/** 200 */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 200;
  src: url("/fonts/Roboto/Roboto-ExtraLight.ttf") format("truetype");
}
/** 100 */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  src: url("/fonts/Roboto/Roboto-Thin.ttf") format("truetype");
}
.button {
  font-family: Poppins, sans-serif;
  font-size: 12pt;
  font-weight: 600;
  padding: 10px 30px;
  color: #222;
  position: relative;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.1);
  transition: background 0.8s;
  outline: 0;
  overflow: hidden;
}
.button .button-text {
  z-index: 2;
  position: relative;
}

.ripple {
  overflow: hidden;
}

.ripple-effect {
  position: absolute;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: #ddd;
  -webkit-animation: ripple-animation 2s;
          animation: ripple-animation 2s;
}

@-webkit-keyframes ripple-animation {
  from {
    transform: scale(1);
    opacity: 0.4;
  }
  to {
    transform: scale(100);
    opacity: 0;
  }
}

@keyframes ripple-animation {
  from {
    transform: scale(1);
    opacity: 0.4;
  }
  to {
    transform: scale(100);
    opacity: 0;
  }
}
.arrow-down {
  width: 70px;
  height: 50px;
  background-image: url("/img/down-arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 30px auto 0 auto;
  cursor: pointer;
}

.bounce {
  -webkit-animation: bounce 5s infinite;
  animation: bounce 5s infinite;
}

@-webkit-keyframes bounce {
  0%, 5%, 15%, 25%, 100% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(-15px);
  }
  20% {
    transform: translateY(-10px);
  }
}

@keyframes bounce {
  0%, 5%, 15%, 25%, 100% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(-15px);
  }
  20% {
    transform: translateY(-10px);
  }
}
@media (max-width: 768px) {
  #main {
    height: 85vh !important;
  }
  #main video {
    width: initial !important;
    height: 100%;
  }

  .video-container {
    padding: 0 !important;
  }

  .heading-section {
    width: 100% !important;
    margin-left: initial !important;
  }
  .heading-section h1 {
    line-height: 59pt;
    text-align: center;
    letter-spacing: 4px;
    width: 100%;
    display: block;
    font-size: 60pt !important;
  }
  .heading-section h1 span {
    display: block;
    font-size: 47pt;
  }

  #menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }

  header {
    position: absolute;
    bottom: 20px;
    width: 100%;
  }

  #navbar-flex {
    flex-direction: initial !important;
    margin-top: 20px;
  }
}
html,
body {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  color: #111;
  background-image: url("/img/uzor.png");
  background-repeat: repeat;
}

.video-container {
  padding: 0;
}

#main {
  position: relative;
  height: calc(100vh - 2rem);
  overflow: hidden;
}
#main h1 {
  color: #fff;
  font-weight: bold;
  font-size: 80pt;
  font-family: "Poppins", sans-serif;
}
#main video {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
#main header {
  z-index: 1;
}

#main:before {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
}

.heading-section {
  z-index: 1;
  width: -webkit-fit-content;
  width: fit-content;
  width: -moz-fit-content;
  margin-left: 10%;
}

#menu {
  background-color: #fff;
}
#menu .nav-item {
  margin-right: 40px;
}
