.button {
    font-family: Poppins, sans-serif;
    font-size: 12pt;
    font-weight: 600;
    padding: 10px 30px;
    color: #222;
    position: relative;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, .1);
    transition: background 0.8s;
    outline: 0;
    overflow: hidden;
    .button-text {
        z-index: 2;
        position: relative;
    }
}

.ripple{
    overflow:hidden;
}

.ripple-effect{
    position: absolute;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: #ddd;
    animation: ripple-animation 2s;
}


@keyframes ripple-animation {
    from {
        transform: scale(1);
        opacity: 0.4;
    }
    to {
        transform: scale(100);
        opacity: 0;
    }
}

.arrow-down {
    width: 70px;
    height: 50px;
    background-image: url('/img/down-arrow.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 30px auto 0 auto;
    cursor: pointer;
}


.bounce {
    -moz-animation: bounce 5s infinite;
    -webkit-animation: bounce 5s infinite;
    animation: bounce 5s infinite;
}

@keyframes bounce {
    0%, 5%, 15%, 25%, 100% {
        transform: translateY(0);
    }
    10% {
        transform: translateY(-15px);
    }
    20% {
        transform: translateY(-10px);
    }
}