/** 900 */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    src: url("/fonts/Poppins/Poppins-Black.ttf") format("truetype");
}

/** 800 */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    src: url("/fonts/Poppins/Poppins-ExtraBold.ttf") format("truetype");
}

/** 700 */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
}

/** 600 */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url("/fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
}

/** 500 */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url("/fonts/Poppins/Poppins-Medium.ttf") format("truetype");
}

/** 400 */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}

/** 300 */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url("/fonts/Poppins/Poppins-Light.ttf") format("truetype");
}

/** 200 */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200;
    src: url("/fonts/Poppins/Poppins-ExtraLight.ttf") format("truetype");
}

/** 100 */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 100;
    src: url("/fonts/Poppins/Poppins-Thin.ttf") format("truetype");
}

/** 900 */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url("/fonts/Roboto/Roboto-Black.ttf") format("truetype");
}

/** 800 */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    src: url("/fonts/Roboto/Roboto-ExtraBold.ttf") format("truetype");
}

/** 700 */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
}

/** 600 */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    src: url("/fonts/Roboto/Roboto-SemiBold.ttf") format("truetype");
}

/** 500 */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url("/fonts/Roboto/Roboto-Medium.ttf") format("truetype");
}

/** 400 */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

/** 300 */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url("/fonts/Roboto/Roboto-Light.ttf") format("truetype");
}

/** 200 */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 200;
    src: url("/fonts/Roboto/Roboto-ExtraLight.ttf") format("truetype");
}

/** 100 */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: url("/fonts/Roboto/Roboto-Thin.ttf") format("truetype");
}
