@media (max-width: 768px) {
    #main {
        height: 85vh!important;
        video {
            width: initial!important;
            height: 100%;
        }
    }

    .video-container {
        padding: 0!important;
    }

    .heading-section {
        width: 100% !important;
        margin-left: initial!important;
        h1 {
            line-height: 59pt;
            text-align: center;
            letter-spacing: 4px;
            width: 100%;
            display: block;
            font-size: 60pt!important;
            span {
                display: block;
                font-size: 47pt;
            }
        }
    }

    #menu {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }

    header {
        position: absolute;
        bottom: 20px;
        width: 100%;
    }

    #navbar-flex {
        flex-direction: initial!important;
        margin-top: 20px;
    }
}