$primaryColorTransparent: #039be5e0;
$primaryColor: #039be5;
$primaryColorHover: #028cd0;
$textColor: #111;
$bgColor: #fff;
$mainFont: 'Roboto', sans-serif;
$fatFont: 'Poppins', sans-serif;

@mixin flexCenter {
    display: flex;
    align-items: center;
}

@mixin backgroundCover($url) {
    background-image: url($url);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}