@import "variables";
@import "fonts";
@import "buttons";
@import "media";

html,
body {
    height: 100%;
}

body {
    font-family: $mainFont;
    background-color: $bgColor;
    color: $textColor;
    background-image: url('/img/uzor.png');
    background-repeat: repeat;
}

.video-container {
    padding: 0;
}

#main {
    position: relative;
    height: calc(100vh - 2rem);
    overflow: hidden;
    h1 {
        color: #fff;
        font-weight: bold;
        font-size: 80pt;
        font-family: $fatFont;
    }
    video {
        width: 100%;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
    }
    header {
        z-index: 1;
    }
}

#main:before {
    background-color: rgba(0, 0, 0, .4);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
}

.heading-section {
    z-index: 1;
    width: fit-content;
    width: -moz-fit-content;
    margin-left: 10%;
}

#menu {
    background-color: #fff;
    .nav-item {
        margin-right: 40px;
    }
}
